{% extends 'base.html.twig' %}

{% block title %}Expense{% endblock %}

{% block body %}
    <h1>Expense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>Exp_montant</th>
                <td>{{ expense.expMontant }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ expense.description }}</td>
            </tr>
            <tr>
                <th>Exp_date</th>
                <td>{{ expense.expDate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_expense_index') }}">back to list</a>

    <a href="{{ path('app_expense_edit', {'id': expense.id}) }}">edit</a>

    {{ include('expense/_delete_form.html.twig') }}
{% endblock %}
